/* Header Styling */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #23272A; /* Dark background */
    text-align: right;
}

/* Invite Button */
.top-header .btn.invite {
    background-color: #43B581; /* Green background */
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
    animation: pulse 2s infinite;
}

.top-header .btn.invite:hover {
    background-color: #13924e; /* Hover effect */
    transform: scale(1.1); /* Slight scaling effect */
}

/* Support Server Invite Button */
.top-header .btn.support {
    background-color: #e70331; /* Red background for support server */
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
    animation: pulse 2s infinite;
}

.top-header .btn.support:hover {
    background-color: #b00909; /* Slightly darker blue when hovered */
    transform: scale(1.1); /* Slight scaling effect */
}

/* Toggle Button (not used anymore) */
.toggle-container {
    display: flex;
    align-items: center;
    color: white;
}

/* Header Glowing Effect */
header {
    background-color: #5647ae; 
    padding: 50px 20px;
    text-align: center;
    transition: background 0.5s;
    animation: glow 3s infinite alternate;
    margin-bottom: 75px;
}


.header-logo {
    float: left;
    margin-left: 30px;
    margin-right: 10px; /* Optional: adds space between the image and text */
}
